---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Colour scheme
$main-text-color:         #424242;
$link-color:              #00a071;
$accent-color:            #2b00cf;

$secondary-text-color:    #2b00cf;
$light-link-color:        #e7f6f1;
$light-accent-color:      #e9e5fa;


$background-color:        #f7f7f7; // TODO: refactor with Material Design code

$light-color:             #b1b1b1; // TODO: refactor with Material Design code
$grey-900:                #212121;
$grey-700:                #616161;
$grey-600:                #757575;
$grey-500:                #9E9E9E;
$grey-300:                #E0E0E0;
$grey-100:                #F5F5F5;

// Screen sizes
$small-screen:          667px;

// Utilities
$spacing-unit:          30px;
$mobile-margin:         1.5em;
$larger:                70%;

// Fonts
$primary-font:         "Nitti Grotesk", "Helvetica Neue", "Helvetica", sans-serif;
$secondary-font:       "Input Mono", "Courier", sans-serif;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "gutenberg",
        "utilities",
        "atoms",
        "clicks",
        "layout",
        "header",
        "animations",
        "contact",
        "bookshelf",
        "work",
        "home",
        "error",
        "footer"
;
