---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Colour scheme
$main-text-color:         #424242;
$secondary-text-color:    #2b00cf;
$accent-color:            #2b00cf;
$link-color:              #00a071;
$light-color:             #b1b1b1;
$background-color:        #f7f7f7;

$grey-900:                #212121;
$grey-300:                #E0E0E0;

// Screen sizes
$small-screen:          667px;

// Utilities
$spacing-unit:          30px;
$mobile-margin:         1.5em;
$larger:                70%;

// Fonts
$primary-font:         "Nitti Grotesk", "Helvetica Neue", "Helvetica", sans-serif;
$secondary-font:       "Input Mono";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "gutenberg",
        "utilities",
        "atoms",
        "layout",
        "header",
        "animations",
        "contact",
        "bookshelf",
        "work",
        "home",
        "footer"
;
