---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@font-face {
    font-family: 'Nitti Grotesk';
    src: url('/assets/fonts/nitti/NittiGrotesk-Regular.eot');
    src: url('/assets/fonts/nitti/NittiGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/nitti/NittiGrotesk-Regular.woff') format('woff'),
         url('/assets/fonts/nitti/NittiGrotesk-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Nitti Grotesk';
    src: url('/assets/fonts/nitti/NittiGrotesk-Bold.eot');
    src: url('/assets/fonts/nitti/NittiGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/nitti/NittiGrotesk-Bold.woff') format('woff'),
         url('/assets/fonts/nitti/NittiGrotesk-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


// Colour scheme
$main-text-color:         #424242;
$link-color:              #00a071;
$accent-color:            #2b00cf;

$secondary-text-color:    #2b00cf;
$light-link-color:        #e7f6f1;
$light-accent-color:      #e9e5fa;


$background-color:        #f7f7f7; // TODO: refactor with Material Design code

$light-color:             #b1b1b1; // TODO: refactor with Material Design code
$grey-900:                #212121;
$grey-700:                #616161;
$grey-600:                #757575;
$grey-500:                #9E9E9E;
$grey-300:                #E0E0E0;
$grey-200:                #eee;
$grey-100:                #F5F5F5;

// Screen sizes
$small-screen:          667px;
$medium-screen:         1000px;

// Utilities
$spacing-unit:          30px;
$mobile-margin:         1.5em;
$larger:                70%;

// Fonts
$primary-font:         "Nitti Grotesk", "Helvetica Neue", "Helvetica", sans-serif;
$secondary-font:       "Input Mono", "Courier", sans-serif;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "gutenberg",
        "utilities",
        "atoms",
        "clicks",
        "layout",
        "header",
        "animations",
        "contact",
        "newsletter",
        "bookshelf",
        "work",
        "home",
        "photos",
        "notes",
        "error",
        "footer"
;
