---
layout: default
title: Filippo Corti | Reading
id: reading
excerpt: Books I've been reading, and liked, collected with excerpts. Mostly fiction, and mostly sad.
---

<section class="introduction">

  <h2 class="no-margin-top">Stuff I've Been Reading</h2>


  <p class="attention-grabber">For what I intend to read, have a look at my <i class="icon icon-amazon"></i> <a href="http://amzn.eu/25hflIV">Amazon Wishlist</a>.
    You can also follow me on <i class="icon icon-goodreads"></i> <a href="http://www.goodreads.com/user/show/4464224-filippo-corti">Goodreads</a>.
    My <i class="icon icon-star"></i> <a href="../">favourites are here</a>.
  </p>



</section>

<section class="reading">

  {% assign books = site.reading | sort: 'read' | reverse %}
  {% for book in books %}

  <div class="book no-margin" style="background:{{ book.s-color }}" id="{{ book.title | remove: " "}}">

    <div class="book__cover">
      <a href="https://www.amazon.co.uk/s/ref=nb_sb_noss?field-keywords={{ book.title }} {{ book.author }}">
        <img src="{{ site.url }}/{{ book.cover }}" alt="{{ book.title }}"
             style="box-shadow: -10px -10px 0px {{ book.m-color }};
             border: 2px solid {{ book.s-color }}" />
      </a>
    </div>

    <div class="book__quotes">
      <div class="no-margin book__readDate">Read: <span>{{ book.read | date: '%B %Y' }}</span></div>
<div>
      {% for quote in book.quotes %}
          <p>{{ quote }}</p>
      {% endfor %}

      <a class="btn-expand btn">
        <i class="icon icon-angle-down"></i>
        <span data-text-swap="less" data-text-original="more">more</span> excerpts
      </a>
      <a class="btn" href="https://www.amazon.co.uk/s/ref=nb_sb_noss?field-keywords={{ book.title }} {{ book.author }}">
        <i class="icon icon-amazon"></i>
        get on Amazon
      </a>
    </div>
    </div>

  </div>

  {% endfor %}

</section>
