---
layout: default
id: home
---

<div class="home-intro full-screen no-margin-bottom">

  <h2 class="no-margin-top typed-home">
    <span class="typed"></span>
  </h2>

  <div class="no-margin-bottom">
    <p class="attention-grabber no-margin-bottom">
      UX designer and web developer from Italy.
      I've been writing a blog about technology since 2005 —
      <a href="https://bicyclemind.it">Bicycle Mind</a>.
      I'm currently working from London, as the UX Designer of a small startup.
    </p>

    <p class="attention-grabber margin-top no-margin-bottom">
     I also have a <a href="http://blog.filippo.me">personal blog</a>.
    </p>

    <span class="btn-text btn-expand no-margin-bottom"><i class="icon icon-angle-down no-margin-bottom"></i> Read more</span>
  </div>

</div>


<div class="featured-links full-screen no-margin-top">
  {% for link in site.data.links %}

    <a href="{{link.url}}">
      {% include {{link.icon}} %}
      <strong class="featured-links__title no-margin-bottom">{{ link.sectiontitle }}</strong>
      <small class="text-secondary text-uppercase">{{ link.subtitle }}</small>
    </a>

  {% endfor %}

</div>


<section class="section-list">

  <aside class="section-list__title">
    <h3 class="no-margin text-semibold">writings</h3>
  </aside>

  <div class="section-list__content posts">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>

</section>
