---
layout: default
id: home
---

<div class="home-intro full-screen no-margin-bottom">

  <h2 class="no-margin-top typed-home">
    <span rel="me" class="h-card typed">Filippo Corti</span>
  </h2>

  <div class="no-margin-bottom">
    <p class="attention-grabber no-margin-bottom">
      Product designer and web developer from Italy, based in London.
      I've been keeping a blog since 2005: it's called
      <a href="https://www.bicyclemind.com">bicyclemind</a> and it's not about bicycles;
      it's about computers. When I'm not moving pixels in front of a screen
      I like to <a href="/likes/books/reading">read sad books</a>.
    </p>

    <!--
    <p class="margin-top no-margin-bottom">
    </p>

    <span class="btn-text btn-expand no-margin-bottom"><i class="icon icon-angle-down no-margin-bottom"></i> Read more</span>
  !-->
  </div>
</div>


<div class="featured-links full-screen no-margin-top">
  {% for link in site.data.links %}

    <a href="{{link.url}}">
      {% include {{link.icon}} %}
      <strong class="featured-links__title no-margin-bottom">{{ link.sectiontitle }}</strong>
      <small class="text-secondary text-lowercase">{{ link.subtitle }}</small>
    </a>

  {% endfor %}

</div>


<section class="section-list">

  <aside class="section-list__title">
    <h3 class="no-margin">writings</h3>
  </aside>

  <div class="section-list__content posts">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>

</section>
