<footer class="footer full-width text-center">
  <p class="footer__legal no-margin-bottom larger">
    <span class="icon-macintosh icon hvr-wobble-horizontal no-margin-bottom"></span>
    <br />
    <i class="icon-cc icon"></i> 2005<script>new Date().getFullYear()>2005&&document.write("-"+new Date().getFullYear());</script>, Filippo Corti.

  <a href="{{site.url}}/colophon">Colophon</a> •
  <a href="{{site.url}}/hi">me@filippocorti.net</a> •
  <a rel="me" href="https://twitter.com/philapple">@philapple</a>

  </p>
</footer>

<script src="{{site.baseurl}}/js/scripts.js" defer></script>
