<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="Filippo Corti, me@filippocorti.net">
  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta itemprop="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta itemprop="image" content="{{ site.url }}/assets/filippo/avatar_green.png">

  {% include metadata.html %}

  <link rel="me" href="mailto:me@filippocorti.net" />

  <link href="//cloud.typenetwork.com/projects/2471/fontface.css/" rel="stylesheet" type="text/css">
  <link href="https://file.myfontastic.com/qywfA4ZMUeXpHkQt99X3L5/icons.css" rel="stylesheet">

  <link rel="shortcut icon" href="{{ site.url }}/assets/filippo/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{ site.url }}/assets/filippo/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="http://feeds.eppol.net/filippo">


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121381-7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-121381-7');
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/postscribe/2.0.8/postscribe.min.js"></script>
  <script src="{{site.baseurl}}/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="{{site.baseurl}}/node_modules/instafeed.js/instafeed.min.js"></script>
  <script src="{{site.baseurl}}/node_modules/typed.js/dist/typed.min.js"></script>
  <script src="{{site.baseurl}}/node_modules/baffle/dist/baffle.min.js"></script>
</head>
