.tag {
  background: $light-accent-color;
  color: $accent-color;
  padding: 0 10px;
  border-radius: 0;
  margin: 0 0.5em 0.5em 0;
  display: inline-block;
  font-family: $secondary-font;
  white-space: nowrap;
}


.primary-btn {
  border: 2px solid $main-text-color;
  color: $main-text-color;
  background: #fff;
  padding: 0.3em 3em;
  font-family: $primary-font;
  font-weight: bold;
  font-size: 0.5em;
  box-shadow: -5px -5px 0px 0px $main-text-color;

  &:hover {
    cursor: pointer;
    box-shadow: 5px 5px 0px 0px $accent-color;
    color: $accent-color;
    border-color: $accent-color;
  }
}

.primary-btn--large {
  @extend .primary-btn;
  font-size: 1.35em;
}
