/*------------------------------------*\
  #LIBRARY
\*------------------------------------*/

.library {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: 4em auto;
  
  .book {
    width: 150px;

    .book__cover {
      max-height: 150px;
      margin-bottom: 1em;
    }

    .book__title {
      font-family: "Nitti Grotesk Medium";
      display: block;
      margin: 0;
      line-height: 1;
    }

    .book__author {
      font-family: "Nitti Grotesk Light";
      font-style: normal;
      font-size: 0.8em;
      color: $light-color;
    }
  }

}
