.content-tab-dump {
  @include media-query($small-screen) {
    padding: $mobile-margin;
  }
}

a.pin-title, a:visited.pin-title {
  font-family: $primary-font;
  color: $link-color;
  font-weight: bold;

  &:hover {
    background: $link-color;
    color: #fff;
    text-decoration: none;
  }
}

.pin-item {
  margin: 1em auto 2em;
  p {
    line-height: 1.6;
  }
}

.pin-description {
  font-family: $primary-font;
  font-size: 0.95em;
  line-height: 1;
}

.pin-tag {
  display: none;
}
