#bookmarks {
  @include media-query($small-screen) {
    padding: $mobile-margin;
    padding-top: 0;
  }
}

a.pin-title, a:visited.pin-title {
  font-family: $primary-font;
  color: $grey-900;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  text-decoration: none;

  &:hover {
    background: $link-color;
    color: #fff;
    text-decoration: none;
  }
}

.pin-item {
  margin: 1em auto 2em;
  p {
    line-height: 1.5;
  }
}

.pin-description {
  font-family: $primary-font;
  line-height: 0.8;
}

.pin-tag {
  display: none;
}
