/*------------------------------------*\
  #404
\*------------------------------------*/

.page-404 {
  text-align: center;
  padding: 6em 0;
  background: lighten($link-color, 55%);
  color: #fff;
  font-size: 2rem;
  background: $link-color url(https://media.giphy.com/media/hVKWqTEa36rm0/giphy.gif) no-repeat center center fixed;
  background-size: cover;
  max-height: 90vh;
  animation: fadeIn 3s;

  .error-message {
    position: absolute;
    top: 120px;
    left: 0;
    text-align: left;

    & > span {
      padding: 0.3em 0.5em 0.3em;
      background: $link-color;
      line-height: 2;
    }

    .kamojii {
      font-size: 1.5em;
      white-space: nowrap;
      position: relative;
      top: 5px;
    }

  }

  .return-link {
    position: absolute;
    top: -65px;
    left: 100px;
    text-align: left;

    a {
      padding: 1em;
      margin: 1.5em auto;
      display: block;
      transition-duration: 1s;
      color: white;


      &:hover {
        background: none;
      }
    }

  }

  .avatar {
    max-width: 2em;
    position: absolute;
    left: 30px;
    top: 30px;
    filter: grayscale(1);
    transition-duration: 2s;

    &:hover {
      filter: grayscale(0);
    }
  }

}
