/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
  margin: $spacing-unit*4 auto 0;
  padding: 0 $spacing-unit*2 0;
  width: 100%;
  background: $light-accent-color;
  font-family: $secondary-font;
  font-size: 0.7em;

  .icon {
    top: 2px;
  }

  .icon-macintosh {
    font-size: 2.5em;
  }

  .footer__legal {
    position: relative;
    top: -20px;
    color: $accent-color;
  }

  a {
    color: $accent-color;
    font-weight: bold;

    &:visited:hover, &:hover {
      text-decoration: line-through;
      background: none;
      color: $accent-color;
    }

  }

}
