/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.site-header:hover {
  background: linear-gradient(135deg, $light-accent-color, $accent-color);
  transition: 1s;

  .header__section.header__nav a {
    color: #fff;
  }

}

.site-header {
  background: $background-color;
  padding: $spacing-unit/2 0;
  margin-bottom: $spacing-unit;
  max-width: 100%; /* reset max-width */
  font-family:  $secondary-font;
  border-bottom: 1px solid #eee;


  a:visited:hover, a:hover {
    background: none;
  }

  .avatar {
    max-width: 3em;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    max-width: 35em; /* to center it and make it as wide as main body */

    @include media-query($small-screen) {
      justify-content: space-between;
      margin: auto $mobile-margin;
    }
  }

}

.header__section {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  &:first-child { /* left section header */
    margin-left: 0;
  }

  &:last-child { /* right section header */
    margin-right: 0;
  }

  &.header__nav a {
    font-size: 0.9em;
    text-decoration: none;
    margin: 0 0.1em;
    color: $grey-900;

    /* Animation on :hover */
    &::before, &::after {
      display: inline-block;
    	opacity: 0;
    	transition: transform 0.3s, opacity 0.2s;
    }

    &::before {
    margin-right: 10px;
    content: '[';
    transform: translateX(20px);
    }

    &::after {
      margin-left: 10px;
    	content: ']';
    	transform: translateX(-20px);
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
    	opacity: 1;
    	transform: translateX(0px);
    }

    &:hover, &.active {
      color: $accent-color;
    }

  }

}


.subnav {
  border-bottom: 1px solid $accent-color;
  padding: $spacing-unit/3 0;
  text-align: left;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: inline;
      margin-right: $spacing-unit;
    }

    a {
      color: $grey-900;
      text-decoration: none;

      &.active {
        border-bottom: 3px solid $accent-color;
        font-weight: bold;
        color: $accent-color;
        padding-bottom: 14px;
      }

      &:hover {
        background: none;
        color: $accent-color;
      }
    }
  }
}
