/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.site-header {
  background: $background-color;
  padding: 1em 0;
  margin-bottom: 2em;
  max-width: 100%; /* reset max-width */
  font-family:  $secondary-font;

  .avatar {
    max-width: 3em;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    max-width: 35em; /* to center it and make it as wide as main body */
    margin-bottom: 0;
  }

}

.header__section {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  &:first-child { /* left section header */
    margin-left: 0;
  }

  &:last-child { /* right section header */
    margin-right: 0;
  }

  &.header__nav a {
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 0.1em;
    color: $light-color;

    /* Animation on :hover */
    &::before, &::after {
      display: inline-block;
    	opacity: 0;
    	transition: transform 0.3s, opacity 0.2s;
    }

    &::before {
    margin-right: 10px;
    content: '[';
    transform: translateX(20px);
    }

    &::after {
      margin-left: 10px;
    	content: ']';
    	transform: translateX(-20px);
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
    	opacity: 1;
    	transform: translateX(0px);
    }

    &:visited, &:active {
      color: $light-color;
    }

    &:hover, &.active {
      color: $accent-color;
    }

  }

}
