/*------------------------------------*\
  #HOME
\*------------------------------------*/

.page-home {

  .site-header {
    margin-bottom: 0;
  }

  .home-intro {
    background: $background-color;
    padding: $spacing-unit 0;

    @include media-query($small-screen) {
      padding: $mobile-margin;
    }

  }

  figure {
    max-width: $larger;
  }

  .featured-links {
    text-align: center;
    justify-content: space-between;
    margin: 0 0 $spacing-unit*2;
    padding: $spacing-unit $spacing-unit*2;
    display: flex;
    background: $background-color;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    @include media-query($small-screen) {
      padding: $mobile-margin;
    }


    a {
      text-decoration: none;
      color: $main-text-color;
      transition: all .2s ease-in-out;

      &:hover {
        transform: scale(1.2);
        color: $accent-color;

        path {
          fill: $accent-color;
        }
      }
    }

    .featured-links__title {
      display: block;
    }

    svg {
      height: 30px;
      margin-bottom: 0;
    }
  }

  .section-list {
    display: flex;
    align-items: flex-start;
    margin-top: $spacing-unit;

    @include media-query($small-screen) {
      flex-direction: column;
      padding: 0 $mobile-margin;
    }

    .section-list__title {
      width: 20%;
      margin: 0.3em 6em 0 2em;
      border-top: 2px solid #222;
      text-align: right;

      @include media-query($small-screen) {
        margin: 0 0 $mobile-margin 0;
      }

    }

    .section-list__content {
      font-weight: 300;
      margin: auto 0 0 auto;
      width: 80%;

      @include media-query($small-screen) {
        margin: 0;
      }

      a, strong {
        font-weight: 600;
      }

      p {
        margin-bottom: 0.4em;
      }

    }
  }

  #instafeed {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 5em auto;
    max-width: 45em;

    a {
      margin: 0 0.3em 0.3em 0;
      display: inline-block;
      overflow: hidden;

    }

    img {
      margin: 0;
      border-radius: 1px;
      max-width: 120px;
      transition: all .2s ease;
      vertical-align: middle;

      &:hover {
        transform: scale(1.5);
      }
    }
  }

}
