/*------------------------------------*\
  #HOME
\*------------------------------------*/

.page-home {

  .site-header {
    margin-bottom: 0;
  }

  .home-intro {
    background: $background-color;
    padding: $spacing-unit 0;

    @include media-query($small-screen) {
      padding: $mobile-margin;
    }

    p {
      display: none;
    }

     p:first-child {
      display: block;
    }

  }

  .featured-links {
    text-align: center;
    justify-content: space-between;
    margin: 0 0 $spacing-unit*2;
    padding: $spacing-unit $spacing-unit*2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: $background-color;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    @include media-query($medium-screen) {
      padding: $mobile-margin 0;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2em;
    }

    @include media-query($small-screen) {
      grid-template-columns: repeat(3, 1fr);
    }

    a {
      height: 120px;
      margin:  0;
      text-decoration: none;
      color: $main-text-color;
      transition: all .2s ease-in-out;
      font-family: $secondary-font;

      path, polygon, rect {
        fill: $main-text-color;
      }

      &:visited:hover, &:hover {
        transform: scale(1.2);
        background: none;

        path, polygon, rect {
          fill: $accent-color;
        }
      }
    }

    .featured-links__title {
      display: block;
      margin-bottom: -10px;
    }

    svg {
      height: 40px;
      margin-bottom: 5px;

      @include media-query($small-screen) {
        height: 35px;
      }

    }
  }

  .section-list {
    display: flex;
    align-items: flex-start;
    margin-top: $spacing-unit;

    @include media-query($small-screen) {
      flex-direction: column;
      padding: 0 $mobile-margin;
    }

    .section-list__title {
      margin-top: 0.3em;
      border-top: 2px solid #222;
      text-align: right;
      padding-left: $spacing-unit;

      @include media-query($small-screen) {
        margin: 0 0 $mobile-margin 0;
        padding-left: 0;
        text-transform: capitalize;
        border-top: none;
      }

    }

    .section-list__content {
      font-size: 1.2em;
      font-weight: 300;
      max-width: 400px;

      @include media-query($small-screen) {
        margin: 0;
      }

      a {
        color: $main-text-color;
        text-decoration: none;
        border-bottom: 2px solid $grey-200;
        padding: 1px 0;

        &:hover {
          border-bottom: 3px solid $accent-color;
          background: $light-accent-color;
        }
      }

      p {
        margin-bottom: 0.8em;
      }

    }
  }

}
