/*------------------------------------*\
  #COMMON
\*------------------------------------*/

a {
  color: $link-color;

  &:visited, &:active {
    color: $link-color;
  }

}


.attention-grabber {

  @media screen and (max-width: $small-screen) {
    padding: 0 1.5em;
  }

}


/*------------------------------------*\
  #HOME
\*------------------------------------*/

.section-list {
  display: flex;
  align-items: flex-start;
  margin-top: 2em;

  @media screen and (max-width: $small-screen) {
    flex-direction: column;
    padding: 0 1.5em;
  }

  .section__title {
    flex: 1;
    margin: 0.3em 6em 0 0;
    border-top: 2px solid #222;

    @media screen and (max-width: $small-screen) {
      margin-bottom: 1em;
    }

  }

  .section__content {
    font-size: 1.2em;
    font-weight: 300;
    margin: auto 0 0 auto;
    flex: 6;

    @media screen and (max-width: $small-screen) {
      margin: 0;
    }

    a, strong {
      font-weight: 600;
    }

    p {
      margin-bottom: 0.5em;

      &:before { /* decoration p items */
        content: "+";
        color: $light-color;
        margin-right: 7px;
        font-size: 0.8em;
        position: relative;
        top: -2px;

        @media screen and (max-width: $small-screen) {
          display: none;
        }

      }

    }
  }
}
