/*------------------------------------*\
  #COMMON
\*------------------------------------*/

html {
  margin: 0;
}

a {
  color: $link-color;

  &:visited, &:active {
    color: $link-color;
  }

  &:visited:hover, &:hover {
    color: $accent-color;
    background: #e9e5fa;
  }

}


// margins for small-screens
.home-intro, .content-library, .content-colophon, .content-hi {

  @include media-query($small-screen) {
    padding: 0 $mobile-margin;
  }

}


// highlight style
::-moz-selection { background: rgba(0, 160, 113, 0.2); }
::selection { background: rgba(0, 160, 113, 0.2); }


// icons
.icon {
  position: relative;
  top: 2px;
}


/*------------------------------------*\
  #NOTES
\*------------------------------------*/

.notes {
  .article-body p:nth-child(1) {
    @extend .attention-grabber;
  }
}




/*------------------------------------*\
  Alternative layout
\*------------------------------------*/

.raised {
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.03);
  max-width: 45em;
  position: relative;
  top: -125px;
  background: #fff;
  padding: 2em 0;

  @include media-query($small-screen) {
    padding: 2em $mobile-margin;
    box-shadow: none;
  }
}
