/*------------------------------------*\
  #COMMON
\*------------------------------------*/

a {
  color: $link-color;

  &:visited, &:active {
    color: $link-color;
  }

}


.home-intro, .content-library {

  @include media-query($small-screen) {
    padding: 0 $mobile-margin;
  }

}

::-moz-selection { background: rgba(0, 160, 113, 0.2); }
::selection { background: rgba(0, 160, 113, 0.2); }




/*------------------------------------*\
  #HOME
\*------------------------------------*/

.section-list {
  display: flex;
  align-items: flex-start;
  margin-top: $spacing-unit;

  @include media-query($small-screen) {
    flex-direction: column;
    padding: 0 $mobile-margin;
  }

  .section__title {
    flex: 1;
    margin: 0.3em 6em 0 0;
    border-top: 2px solid #222;

    @include media-query($small-screen) {
      margin-bottom: 1em;
    }

  }

  .section__content {
    font-weight: 300;
    margin: auto 0 0 auto;
    flex: 3;

    @include media-query($small-screen) {
      margin: 0;
    }

    a, strong {
      font-weight: 600;
    }

    p {
      margin-bottom: 0.4em;

      &:before { /* decoration p items */
        content: "+";
        color: $light-color;
        margin-right: 7px;
        font-size: 0.8em;
        position: relative;
        top: -2px;

        @include media-query($small-screen) {
          display: none;
        }

      }

    }
  }
}




/*------------------------------------*\
  #NOTES
\*------------------------------------*/

.notes {
  .article-body p:nth-child(1) {
    @extend .attention-grabber;
  }
}




/*------------------------------------*\
  #404
\*------------------------------------*/

.page-404 {
  text-align: center;
  padding: 2em 0;
  background: lighten($link-color, 55%);
  color: darken($link-color, 10%);
  font-size: 2rem;

  .avatar {
    max-width: 7em;
  }

}
