#instafeed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;

    @include media-query($small-screen) {
      padding: $mobile-margin;
      grid-column-gap: 1em;
    }

    a:hover {
      background: none;
    }

    img {
      transition: 1s;

      &:hover {
        transform: scale(1.5);
      }
    }
  }
