.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.text-semibold {
  font-weight: 600;
}


.grayscale {
  -webkit-filter: grayscale(1);

  &:hover {
    -webkit-filter: grayscale(0);
  }
}


.full-screen {
  max-width: 100%;
}


// Mixins
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
