// Mixins
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

.hidden-sm {
  @include media-query($small-screen) {
    display: none;
  }
}



// Margins and divs

.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.margin-top {
  margin-top: $spacing-unit;
}

.margin-auto {
  margin: auto;
}

.no-border {
  border-radius: 0;
  border: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.flexbox {
  display: flex;
}

.full-screen, .full-width {
  max-width: 100%;
}

.larger {
  max-width: 70%;

  @include media-query($small-screen) {
    max-width: 100%;
  }

}



// Typographic utilities

.font-primary {
  font-family: $primary-font;
}

.font-secondary {
  font-family: $secondary-font;
}

.text-secondary {
  color: $grey-500;
}

.text-semibold, .text-bold {
  font-weight: 800;
}

.text-light {
  font-weight: 300;
}

.text-grey {
  color: $grey-500;
}

.text-link-color {
  color: $link-color;
}

.text-regular {
  font-weight: 400;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-center {
  text-align: center;
}

.text-important {
  color: $accent-color;
}

.grayscale {
  filter: grayscale(1);
  transition: all 1s ease;

  &:hover {
    filter: grayscale(0);
  }
}


// Behaviour
.force-select-all {
  user-select: all;
  cursor: copy;
}
