---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <hgroup class="align-center">
    <h1 itemprop="name headline">{{ page.title }}</h1>
    <h6>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} •
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">
          {{ page.author }}
        </span></span>
        {% endif %}
      </h6>
  </hgroup>

  <div itemprop="articleBody">
    {{ content }}
  </div>

</article>
