---
layout: default
title: Filippo Corti | Library
id: library
excerpt: Some of my favourite books
---
<h2 class="no-margin-top baffle">Favourites</h2>

<nav class="subnav">
  <ul>
    <li><a href="../books/" class="active">Books</a></li>
    <li><a href="../movies/">Movies</a></li>
    <li><a href="../things/">Things</a></li>
  </ul>
</nav>

<p class="attention-grabber">An incomplete collection of some of my favourite books.
  I like sad books and Russian novels.</p>

<section>
  <a href="reading" class="sectionLink">
    {% include icons/book.svg %}
    <strong>Currently reading:</strong>

    {% assign currentbook = site.reading | sort:"read" | last %}
    {{ currentbook.title }}, {{ currentbook.author }}
  </a>
</section>

<section class="library larger">

  {% for book in site.data.books %}

    <div class="book">
      <a href="https://www.amazon.com/s/ref=nb_sb_noss?field-keywords={{ book.title }} {{ book.author }}">
        <img src="{{ site.url }}/assets/library/{{ book.cover }}" alt="{{ book.title }}" class="book__cover fadeIn animated"/>
      </a>
      <p><b class="book__title text-semibold">{{ book.title }}</b>
      <em class="book__author text-light">{{ book.author }}</em></p>

    </div>

  {% endfor %}

</section>
